.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.data{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: #9d9b9b;
}
.data > ul > li{
  list-style: none;
}
